#sec1{
  padding-left: 200px;
}
table{
  border-collapse: collapse;
}
th, tr, td{
border: 1px solid black;
padding: 10px;
text-align: center;
   }
tr:nth-child(even){
  background-color: lightblue;
}
#sec2{
  padding-left: 200px;
  margin-top: 50px;
}
progress{
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
/*Chrome and Safari*/
progress::-webkit-progress-bar{
  height: 10px;
  background: #dfdfdf;
  box-shadow: 0 2px 3px rgba(0,0,0,0.2) inset;
  border-radius: 5px;
}
progress{
  height: 10px;
  background: #dfdfdf;
  box-shadow: 0 2px 3px rgba(0,0,0,0.2) inset;
  border-radius: 5px;
}
/*Mozilla Firefox*/
progress::-webkit-progress-value{
  background-color: #026105;
  border-radius: 5px;
}
progress::-moz-progress-bar{
  background-color: #026105;
  border-radius: 5px;
}
