header{
  background-color: #708090;
  margin: 0px;
  padding: 10px;
}
button{
  padding: 10px;
  margin-bottom: 10px;
  background-color: #708090;
  color: white;
  border: none;
}
button:hover{
  background-color: #778899;
}
footer {
  text-align: center;
  clear: both;
  position: static;
  margin: 0px;
  height: 25px;
  width: 100%;
  padding-top: 50px;
  bottom: 0;
  left: 0;
}
